<div class="row contact">
   <div class="col-md-12">
      <p class="p-contact">Get in contact with me wether you want to hear more about myself, have questions or just wanna say whats up!
      </p>
   </div>
   <div class="col-md-6">
      <%= image_tag 'me.jpg', class:"img-responsive img-circle" %>
   </div>
   <div class="col-md-6">
      <div class="info">
         <ul>
         <li><span>Name: </span>Travis Eubanks</li>
            <li><span>Email: </span>tmeubanks113@gmail.com</li>
            <li><span>Cell: </span>847-508-8751</li>
         </ul>
      </div>
   </div>
</div>
