<div class="row">
   <div class="col-md-6 col-md-offset-3">
      <h4>Get in contact with me wether you want to hear more about myself, have questions or just wanna say whats up!</h4>
      <div class="panel">
         <ul>
            <li>Name: Travis Eubanks</li>
            <li>Email: tmeubanks113@gmail.com</li>
            <li>Cell: 847-508-8751</li>
         </ul>
      </div>
   </div>
</div>
