<div class="col-md-12 text-center">
   <div class="col-md-4">
      <%= image_tag 'mtnselfie.png', class: 'img-responsive selfies' %>
      <h4>At the Grand Canyon on my 10 day solo trip!</h4>
   </div>
   <div class="col-md-4">
      <%= image_tag 'selfie1.png', class: 'img-responsive selfies' %>
      <h4>Selfie game Strong!</h4>
   </div>
   <div class="col-md-4">
      <%= image_tag 'tankselfie.png', class: 'img-responsive selfies' %>
      <h4>Test driving a fully loaded military tank when visiting my buddy Wayne!</h4>
   </div>
</div>
