
<div class="col-md-12">
   <div class="col-md-8 col-md-offset-2 about-me text-center">
      <p class="alright">Alright alright allllriiight!</p>
      <%= image_tag 'mtnselfie.png', class: 'selfies'%>
      <p>My name is Travis Eubanks and thank you for making the long journey to my page!</p>
      <p>I’m a young guy who enjoys technology, sports, staying active and exploring the unseen! For beginners I started my days in South Elgin, IL and have resided here my entire time on earth so far.  It's cool here... but it's not the only place I can see myself!</p>
      <p>As a child I was always in sports from tee-ball up to my senior year of high school, so my competitive side to win and succeed has been with me forever.  I graduated from South Elgin High in 2008 and since then have experienced various types of jobs, friends, knowledge and lessons!  I've worked well in large groups toward the same goal in many settings as well as working alone.  I've always thought that many brains were better than one!</p>
      <p>I have a very entrepreneurial mindset, always brainstorming up new ideas to help solve problems whether it’s through technology, products or services.  I’m currently a Web Developer here in Chicago and have been doing web development since January 2015. I got into the web dev field by self teaching myself cause of a business idea I had (I needed a website to sell online).  It began from when I took my first solo road trip half way across the US to the west coast, which I traveled 5,200 miles in ten days! What an <b>AWESOME</b> and <b>LIFE CHANGING EXPERIENCE</b>!</p>

      <p>While trying to self educate myself I found I needed a source of support and something that was more efficient.That's when I decided to attend an intense 3 month Web Development bootcamp in Chicago.  I found that I was enjoying building “stuff” with technology and found it rather rewarding to be able to provide a solution to a problem through technology!</p>
      <p>I’m also a certified Personal Trainer. Training has taught me a great deal of things that I have been able to translate into other fields like staying motivated, always setting goals and coming up with strategies to achieve them!</p>
      <p><small><i>"Motivation is like bathing, it's recommended daily."</i></small></p>
      <p>I’ll keep this intro short but don’t let that stop you here! If you have questions or you’d like to hear more about myself, my interest, ventures or to just say whats up don't hesitate. <%= link_to "Here's my contact info", contact_path %>!</p>
   </div>
</div>
