<div class="col-md-12 text-center">
   <div class="col-md-4">
      <%= image_tag 'mtnselfie.png', class: 'img-responsive selfies' %>
   </div>
   <div class="col-md-4">
      <%= image_tag 'selfie1.png', class: 'img-responsive selfies' %>
   </div>
   <div class="col-md-4">
      <%= image_tag 'tankselfie.png', class: 'img-responsive selfies' %>
   </div>
</div>
