<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Add Work Experience</h3>
    </div>
    <div class="panel-body">
        <%= render 'form' %>
    </div>
</div>


<%= link_to 'Back', work_experiences_path %>
