@import "bootstrap-sprockets";
@import "bootstrap";
@import "portfolios";
@import "font-awesome";
@import "educations";
@import "work_experiences";
@import "static_pages";

$navBlue: #1B89DB;

body{
 font-family: 'Merriweather', serif;
 font-size: 17px;
}

h1, h2, h3, h4, h5, h6, a{
 font-family: 'Lato', sans-serif;
}
.navbar{
  border-radius:0;
}

.no-li-deco{list-style: none;}

.spacer{
  margin-top: 30px;
  margin-bottom: 30px;
}

.edu-basics{
 color: $navBlue;
}

.navbar{
  background-color: #487BF6;
  background-image: -webkit-linear-gradient(#487BF6, #0093CB);
  background-image: linear-gradient(#487BF6, #0093CB);
  width: 100%;
  -webkit-box-flex: 0;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
}
.navbar-default .navbar-nav > li > a, .navbar-default a.navbar-brand{
  color:white;
}
.selfies{
  transition: all .2s ease-in-out;
  border-radius: 100%;
}
.selfies:hover{
  transform: scale(1.1);
}

