@import "bootstrap-sprockets";
@import "bootstrap";
@import "portfolios";
@import "font-awesome";
@import "educations";

.orange{color:orange;}
.no-li-deco{list-style: none;}

.spacer{
margin-top: 30px;
margin-bottom: 30px;
}
