/*// Place all the styles related to the Educations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

*/

.the-starter-league:before{
   content: "/f083";
   font-family: FontAwesome;
}
.online-school-head{
   text-align: center;
}
/*.edu-border{
   border:1px solid #F7EBEB;
   padding: 25px;
   margin-bottom: 20px;
}*/

.name-pts{
   font-weight: bold;
}

.pts{
  color: #00ACEF;
  font-weight: bolder;
}

.panel{
   padding:15px;
}
.edu-name{
   background-color: white;
   padding:8px;
}
.even{
  color:yellow;
}
.tth-panel{
  background-color: aliceblue;
}
.tth-panel-heading{
  background-color: white;
  padding: 8px;
}
.edu-title{
  margin-left:13px;
}
