// Place all the styles related to the Portfolios controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.portfolio-box{
   border:1px solid gray;
   margin:3px;
}

#port-panel h3{
   color:black;
}
#port-panel p{
   padding:12px;
}
#port-panel{
   box-shadow: -1px 3px 5px gray;
}
.image-show{
   border:1px solid #D0D0D0;
}

.heading{
   background-color:#31364a;
   color: white;
   padding:12px;
   margin-bottom: 0;
}
.description p{
   color:#847C61;
   padding:12px;
}
.panel{
   padding: 0;
}
.project{
   box-shadow:0 1px 1px rgba(0,0,0,0.3);
}
