
.contact{
   padding:35px;
}
.p-contact{
   font-size: 32px;
   text-align: center;
   padding-bottom: 60px;
   padding-top: 60px;
}
ul li{
   list-style-type: none;
   padding-bottom: 40px;
}
ul li span{
   font-size: 26px;
   font-family: 'Damion', cursive;
   padding-right: 10px;
}
.info{
   margin-top: 50px;
}
