
.job-desc{
   color: rgb(117, 112, 112);
   padding-top: 10px;
}
.skills{
   padding-bottom: 10px;
}
.icon-skill{
   padding-right: 5px;
}
.work{
   padding: 15px;
   margin-bottom: 20px;
   box-shadow: 0px 1px 5px;
}
.bg-img{
  /* background-image: url(canyon.jpg);
   background-size: cover;
   width: 100%;
   height: 375px;*/
   width: 150px;
   height: 100px;
   margin-left: 10px;
   -webkit-transform: skew(20deg);
   -moz-transform: skew(20deg);
   -o-transform: skew(20deg);
   background: red;
   color:white;
   font-size: 25px;
   padding: 4px;
}
.bg-img > h4{
   color:white;
   font-size: 32px;
}

.bg-content{
   color: white;
   margin-top: 30px;
   background-color: rgba(255, 255, 255, .28);
}
.bg{
   padding-bottom:85px;
}
.navbar{
   border:none;
   margin-bottom: 0;
}
.tan-bg{
  background-color: rgb(255, 253, 247);
  margin-bottom: 25px;
  padding:10px;
}
.experience{
  background-color: aliceblue;
}
.experience h3{
  padding-bottom: 8px;
}
.cursive{
  font-family: 'Damion', cursive;
}
.p-card{
  transition: all .2s ease-in-out;
}
.p-card:hover{
  transform: scale(1.1);
  background-color: #FFF8E1;
  box-shadow: 0px 0px 1px 2px gray;
}
